.container{
    background-color: rgb(150, 160, 160);
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: row; */
    
    border-radius: 10px;
    margin-bottom: 40px;

    margin-left: 130px;
    padding: 10px;
}
.hhh{
    font-size: 50px;
    
}
.kk{
    width: 280px;
    height: 280px;
    margin: 20px;
    border-radius: 10px;
}
